.create-rem-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 50%;
    height: 75%;
    background-color: white;
    color: maroon; /* Gold text color */
    box-shadow: 0px 4px 8px rgba(156, 156, 156);
    border-radius: 1rem;
  }

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.button-group > * {
  margin-left: 10rem;
}

.days-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.days-list-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

  .alt-login div {
    width: 7rem;
    height: 3rem;
    border-radius: 0.25em;
    background-color: #1f1e1e;  /* Blue background color */
    display: inline-flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .createRem {
    width: 60%;
    height: 3em;
    background-color: #ff700; /* gray background color */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
  }
  