.table-of-contents {
    display: flex;
    position: relative;
    font-size: 3.30rem;
    text-align: center;
    font-family: ui-sans-serif;
    /*background-color: rgb(104, 104, 104);     */  /*  <-- original    */
    background-color: #D9D3E4;        /* <--- chosen foreground   */
    /*color: #8a909e; */           /* <-- chosen gray text color against the foreground    */
    color: #000000;               /* <-- slightly darker than gray above against the foreground   */
    /*color: #ffd700;   */ /* Gold text color */
    border-radius: 1rem;
}

.education-container {
    backgroundColor: #57118E;          /*#3E4464 10px, #57618E, #717AA8 45%,  #3E4464 10px */
    background: repeating-radial-gradient(circle at -10% -10%, #717AA8 10px, #57618E, #3E4464 50% );
    animation: animazione 13s ease-in-out infinite alternate-reverse;
    min-height: 100vh;
    height: auto;
}