.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23rem;
  height: auto;
  position: relative;
  /*background-color: rgb(62, 62, 62);      <-- original */
  /*background-color: #075cb0;   */        /* a darker water blue  */
  /*background-color: #1976d2;  */      /* <-- water blue, goes with baby blue combo */
  /*background-color: #8874ad;    */      /* <--  muted purple, goes with purple-blue  */
  /*background-color: #5b6ff5;    */            /*  purple blue     */
  /*background-color:  #58628F; */
  /*background-color: #D9D3E4;  */
  background-color: #D9D3E4;        /* <--- chosen foreground   */

  /*color: #ffffff; */
  /*color: #8a909e; */          /* <-- chosen gray text color against the foreground    */
  color: #81899c;               /* <-- slightly darker than gray above against the foreground   */
  box-shadow: 0px 4px 8px rgb(84, 83, 83);
  border-radius: 1rem;
  padding: 1rem;
  justify-content: space-between;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: '100%';
    /*background-color: #58628F;    */            /*  neutral gray  for background  */
    background-color: #57618E;            /* purplish night    <--- chosen background */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    background: repeating-radial-gradient(circle at -10% -10%, #717AA8 10px, #57618E, #3E4464 50% );
    animation: animazione 8s ease-in-out infinite alternate ;
    
    
    text-align: center;
  }
  
  
  
  .alt-login div {
    width: 7rem;
    height: 3rem;
    border-radius: 0.25em;
    background-color: #c4c3c3;  /* Black background color */
    display: inline-flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .login {
    width: 40%;
    height: 3em;
    background-color: maroon; /* Gold background color */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
  }
  

  