.profile-page-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 50%;
    height: 55%;
    /*background-color: white;          <-- original */
    background-color: #D9D3E4;        /* <--- chosen foreground   */
    /*background-color: #075cb0;  */
    /*background-color: #1976d2;  */    /* <-- water blue, goes with baby blue */
    /*background-color: #8874ad;    */      /* <--  muted purple, goes with purple-blue  */
    /*  color: #8a909e;   */           /* <-- chosen gray text color against the foreground    */
    color: #81899c;               /* <-- slightly darker than gray above against the foreground   */
    /*color: #ffffff;   */ /* original text color */
    box-shadow: 0px 4px 8px rgba(156, 156, 156);
    border-radius: 1rem;
  }



  .alt-login div {
    width: 7rem;
    height: 3rem;
    border-radius: 0.25em;
    background-color: #1e1e1e;  /* Black background color */
    display: inline-flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .openProfilePage {
    width: 40%;
    height: 3em;
    background-color: #ffd700; /* Gold background color */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
  }
