.LanguageSelect-form {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
    background-color: #D9D3E4;        /* <--- chosen foreground   */
    /*background-color: rgb(62, 62, 62);    <-- original */
      /*background-color: #1976d2;  */    /* <-- water blue, goes with baby blue combo */
    /*background-color: #8874ad;   */   /* <--  muted purple, goes with purple-blue  */
    /*color: #8a909e;   */           /* <-- chosen gray text color against the foreground    */
    color: #81899c;               /* <-- slightly darker than gray above against the foreground   */
    /*color: #ffffff; */    /* Gold text color */
    box-shadow: 0px 4px 8px rgb(84, 83, 83); 
    border-radius: 1rem;
    padding: 2rem;
    font-weight: bold; /* Added property */
  }
  .language-list {
    cursor: pointer;
  }
  .logo {
    width: 18rem; /* Adjust the width to your desired size */
    height: 16rem;
  }
  .welcome-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backgroundColor: #57118E;          /*#3E4464 10px, #57618E, #717AA8 45%,  #3E4464 10px */
    background: repeating-radial-gradient(circle at -10% -10%, #717AA8 10px, #57618E, #3E4464 50% );
    animation: animazione 13s ease-in-out infinite alternate-reverse;
    height: 100vh;
  }