.LanguageSelect-form {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
    background-color: rgb(62, 62, 62);
    color: #ffffff; /* Gold text color */
    box-shadow: 0px 4px 8px rgb(84, 83, 83);
    border-radius: 1rem;
    padding: 2rem;
  }
  .language-list {
    cursor: pointer;
  }